body {
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 2%;
    border: 15px solid #bdc3c7;
    padding-left: 30px;
    padding-right: 15px;
    font-family: source sans pro; 
}

.first {
    border-left: 5px solid #bdc3c7;
    padding-left: 10px;
}

.date {
    color: #3498db;
    letter-spacing: 0.2rem;
    font-size: 13px;
}

h2 {
    color: #2c3e50;
    font-size: 2rem;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}