h1 {
    text-align: center;
}

table {
    margin: 0 auto;
}

td {
    width: 100px;
    height: 100px;
}

#two {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#four {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#five {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#six {
    border-top: 1px solid black;
    border-bottom: 1px solid black; 
}

#eight {
    border-left: 1px solid black;
    border-right: 1px solid black;
}